<%- include('../partials/header') %>

<div id="login-container" class=" container ">
  <% if(typeof msg !== "undefined"){%>
    <p class= "error-styles text-success"><%= msg%></p>
  <% }%>
  <div class="row ">
    <div class=" col-8  ">
          <h1 class="title">Login</h1>

      
          <form action="/auth/login" method="POST">
            <div class=" email-container form-group">
              <label for="email">Email</label>
              <input id="input-fields-login-styles" type="email" class="form-control" name="email" autocomplete="off" value="<%= typeof email != 'undefined' ? email : '' %>">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input id="input-fields-login-styles" type="password" class="form-control" name="password">
            </div>
            <div class="   row ">
                <div class=" login-btn-container   col-6 ">
                  <input class="  btn login-btn" type="submit"  value="Login" class="btn">
                </div>
              <div class=" col-6 d-flex justify-content-end ">
                <a class="btn register-btn "  href="/auth/register">Register</a>
              </div>
           
            </div>
            <div class=" password-reset-row row">
              <div class=" col-12">
                <a href="/users/password-reset">Reset Password</a>
              </div>
            </div>
            
          </form>
        

       
     
    </div>

  </div>
  <%- include("../partials/credits") %>
</div>

<%- include('../partials/footer') %>
